In [1]:
import pandas as pd
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("walkML_0004_20220525_1226.sqlite3")
df = pd.read_sql_query("SELECT event_id, lat, lon from ts_gps", con)

# Verify that result of SQL query is stored in the dataframe
print(df.head())

con.close()

DatabaseError: Execution failed on sql 'SELECT event_id, lat, lon from ts_gps': no such table: ts_gps

In [2]:
import simplekml

ModuleNotFoundError: No module named 'simplekml'

In [3]:
kml = simplekml.Kml()

for index, row in df.iterrows():
    event_id = "%i" % row['event_id']
#     print(event_id, row['lon'],row['lat'])
#     kml.newpoint(name= event_id, coords=[(row['lon'], row['lat'])])  # lon, lat, optional height
    kml.newpoint(name= ("%i" % row['event_id']), coords=[(row['lon'], row['lat'])])  # lon, lat, optional height

NameError: name 'simplekml' is not defined

In [4]:
kml.save("gps_path.kml")

NameError: name 'kml' is not defined